/* Colors


Yellow: rgb(237, 218, 6)
HEX:#edda06
purple: rgb(80, 26, 178)
HEX: #501AB2
Gray Black: #3F3D3D;



*/


body {
	background-color: #fafafa;
	/*background-image: url(../img/background.jpg);*/
}


/* TYPOGRAPHY */



/****** Navigation ******/

.contain-to-grid {
	background: none;


}

/* Site name **/

.top-bar .name h1 {
font-family: 'Londrina Shadow', 'Arial Black', Arial, 'sans-serif';
letter-spacing: 7px;
line-height: 45px;
font-size: 2.5625rem;
margin-top: 10px;
text-transform: uppercase;
background-color: #3F3D3D;
border-radius: 10px;
}

.top-bar .name h2 {
font-size: 1.15em;
color: rgb(237, 218, 6);
color: #3F3D3D;

}

.top-bar  {
background: none;
height: 50px;
}
.top-bar-section ul {

	background: none;
}

.top-bar-section li a:not(.button) {
padding: 0 15px;
line-height: 45px;
background: none;
text-transform: uppercase;
}

.top-bar-section ul li > a {

color: #3F3D3D;

}

/****** Hero ******/

.headline {
margin-top: 80px;
background: #EDDA06;
margin-bottom: 25px;
padding: 30px;
}

.luisa {
background-color: #fff;
background: url(main-illustration.png) no-repeat;
-webkit-background-size: cover;
-moz-background-size:cover;
background-size: cover;
background-position: top;
height:300px;
border-radius: 25px;
margin-top: 0;
padding-top:25px;
padding-right: 15px;
padding-right: 0px;
border: 2px dotted;
}

.luisa2 {
margin-top: 80px;	
text-align: right;
color: #501AB2;
padding-right: 10px;

}


.slogan {

	font-family: 'Londrina Solid', 'Arial Black', Arial, 'sans-serif';
	font-size: 1.61875rem;
	color:#3F3D3D;
	
}





/***** Footer *****/

.foot {

	font-family: 'Londrina solid', Arial, 'Sans-serif';
	font-size: 1em;
	color:#EDDA06;
	letter-spacing: 1px;
	margin-top: 20px;

}

.foot h3{
	text-align: center;
}

.social {
	text-align: center;
	font-size: 3em;
}

/***** Dynamic content *****/

.dynamic h3 {
	font-family: 'londrina solid';
}


/****** Mailing *****/

.mailing {
	background-color: rgb(80, 26, 178);
	background-color:#501AB2;
	font-family: Courier, Times, Serif;
	color: white;	
}

.mailing p {
	margin-top: 15px;
}


/****** Main Content *****/

.main-content {

	margin-top: 90px;


}

